.ui_button {
  border-radius: 10px;
  border: none;
  cursor: pointer;
  font-weight: 700;
  transition: background-color 0.3s;
  background-color: #339933;
  color: white;
  padding: 16px 56px 16px 56px;
}
