.header_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 128px;
  cursor: pointer;
  margin: 0 auto;
  text-decoration: none;
  padding: 0 20px; /* Добавил отступы по бокам */
}

.logo {
  width: 70px;
  height: 70px;
}

.img_cart {
  width: 48px;
  height: 48px;
}

.nav_menu {
  display: flex;
  gap: 32px;
  list-style-type: none;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%;
  text-align: center;
  justify-content: center;
  letter-spacing: 0.5px;
}

.nav_menu ul {
  display: flex;
  gap: 32px;
  list-style-type: none;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%;
  text-align: center;
  justify-content: center;
  letter-spacing: 0.5px;
}

a {
  text-decoration: none;
  color: #282828;
}

.burger_btn {
  display: none;
  cursor: pointer;
}

/* Добавил медиа-запрос для бургер-меню при уменьшении экрана */

@media screen and (max-width: 768px) {
  .nav_menu {
    display: none;
    flex-direction:column; /* Изменение направления на колонку */
    position: absolute;
    top: 128px;
    left: 0;
    width: 100%;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }

  .nav_menu_open {
    display: flex;
  }

  .burger_btn {
    display: block;
  }
}

